# Auto detect text files and perform LF normalization
* text=auto

# Documents
*.md text diff=markdown
*.txt text
*.pdf binary

# Source code
*.js text
*.jsx text
*.ts text
*.tsx text
*.json text
*.css text
*.scss text
*.html text
*.xml text
*.yml text
*.yaml text

# Images
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text

# Fonts
*.ttf binary
*.woff binary
*.woff2 binary

# Lock files
package-lock.json text
yarn.lock text

# Git files
.gitattributes text
.gitignore text 